<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSRF</title>
</head>
<body>
    <label><b>Username: </b>
        {{ user }}
    </label>
    <br>
    <form action="/testform/" method="post">
        <label><b>Payment order: </b>
            <input type="text" name="q" value="">
        </label>
        <!--Block with CSRF-->
        <br>
        <label><b>CSRF : </b>
            <input type="text" name="csrf" value="">
        </label>
        <br>
        <input type="submit">
        <br>
    </form>
</body>
</html>